*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  padding: 1em;
}

@media (max-width: 550px) {
  body {
    padding: 0;
  }
}

main {
  padding: 1em;
}

@media (max-width: 760px) {
  main {
    padding: 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0.5em 0;
  margin: 0 auto;
  width: 90%;
  border-bottom: 2px solid #f6f7f8;
}

@media (max-width: 940px) {
  header {
    width: 95%;
  }
}

@media (max-width: 760px) {
  header {
    border: none;
    padding: 0;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.2em;
}

@media (max-width: 760px) {
  .navbar {
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 1em;
    z-index: 9;
  }
}

@media (max-width: 350px) {
  .navbar {
    padding: 0;
  }
}

.navbar .nav-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 760px) {
  .navbar .nav-imgs {
    margin-left: 1.2em;
  }
}

@media (max-width: 350px) {
  .navbar .nav-imgs {
    margin: 1em;
  }
}

.navbar .nav-imgs .menu {
  display: none;
  width: 20px;
  height: 15px;
  margin: 0.8em 0.5em 0 0;
}

@media (max-width: 760px) {
  .navbar .nav-imgs .menu {
    display: block;
    z-index: 9;
  }
}

.navbar .nav-imgs img {
  width: 100px;
  height: 17px;
  margin: 0.7em 0 0 0.5em;
}

.navbar .navlist {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
}

@media (max-width: 760px) {
  .navbar .navlist {
    display: none;
  }
}

.navbar .navlist .navitem {
  margin: 1.15em 0.7em;
  cursor: pointer;
  font-size: 0.75rem;
  position: relative;
  color: #68707d;
}

.navbar .navlist .navitem:hover {
  color: black;
}

.navbar .navlist .navitem::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #ff7d1a;
  position: absolute;
  top: 53px;
  left: 0;
  opacity: 0;
}

.navbar .navlist .navitem:first-child::after {
  width: 60px;
}

.navbar .navlist .navitem:nth-child(2)::after {
  width: 25px;
}

.navbar .navlist .navitem:nth-child(4)::after {
  width: 40px;
}

.navbar .navlist .navitem:hover::after {
  opacity: 1;
}

.mobile-navlist {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-top: 1em;
}

.mobile-navlist .navitem {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1d2025;
  margin: 1em 0 0 1em;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0.5em;
}

@media (max-width: 550px) {
  .user {
    margin: 1em 0 0 0;
  }
}

.user-cart {
  position: relative;
  cursor: pointer;
  margin-right: 0.5em;
}

.user-cart .cart-svg {
  margin: 1em;
}

.user-cart .cart-svg:hover svg path {
  fill: black;
}

.user-cart-number {
  background: #ff7d1a;
  padding: 0.2em 0.7em;
  border-radius: 10px;
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

.user-img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .user-img {
    width: 40px;
    height: 40px;
    margin-top: 0.2em;
  }
}

.user-img:hover {
  border-radius: 50%;
  border: 2px solid #ff7d1a;
}

.card {
  background: white;
  display: none;
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 1px 10px 20px 3px #b6bcc8;
          box-shadow: 1px 10px 20px 3px #b6bcc8;
  top: 110px;
  right: 50px;
  min-width: 280px;
  z-index: 9;
}

@media (max-width: 760px) {
  .card {
    right: 20px;
  }
}

@media (max-width: 500px) {
  .card {
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.card h1 {
  font-size: 1rem;
  border-bottom: 1px solid #d3d7de;
  padding: 1em;
}

.card .cartempty {
  padding: 4em;
}

.card .cartfilled .card-info {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
  color: #68707d;
}

.card .cartfilled .card-info .card-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.card .cartfilled .card-info .item-info {
  margin-left: 0.5em;
}

.card .cartfilled .card-info .item-info .total-price {
  margin-top: 0.4em;
}

.card .cartfilled .card-info .item-info .total-price span {
  color: black;
  font-weight: 700;
}

.card .cartfilled .card-info .dustbin {
  width: 13px;
  height: 16px;
  margin: 1em 0 0 1.5em;
  cursor: pointer;
}

.card .cartfilled button {
  margin: 1em;
  width: 90%;
  background: #ff7d1a;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.product {
  margin: 3em auto 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em;
}

@media (max-width: 940px) {
  .product {
    padding: 1em 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95%;
  }
}

@media (max-width: 760px) {
  .product {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-images {
  width: 40%;
}

@media (max-width: 760px) {
  .product-images {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .product-images {
    width: 100%;
  }
}

.product-images img {
  cursor: pointer;
}

.product-images-img {
  background-image: url("../images/image-product-1.jpg");
  background-position: center;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  background-size: cover;
  position: relative;
  z-index: 1;
}

@media (max-width: 550px) {
  .product-images-img {
    border-radius: 0%;
  }
}

.product-images-img .previous,
.product-images-img .next {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: white;
  border-radius: 50%;
  padding: .5em .7em;
  cursor: pointer;
}

.product-images-img .previous:hover svg path,
.product-images-img .next:hover svg path {
  stroke: #ff7d1a;
}

@media (max-width: 760px) {
  .product-images-img .previous,
  .product-images-img .next {
    display: block;
  }
}

.product-images-img .previous {
  left: 10px;
}

.product-images-img .next {
  right: 10px;
}

.product-images-thumbnails {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 760px) {
  .product-images-thumbnails {
    display: none;
  }
}

.product-images-thumbnails img {
  border-radius: 10px;
  width: 18%;
}

.product-images-thumbnails img:hover:not(.active) {
  opacity: 0.5;
}

.product-info {
  padding: 1em 2em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 940px) {
  .product-info {
    width: 55%;
  }
}

@media (max-width: 760px) {
  .product-info {
    margin-top: 1em;
    width: 80%;
  }
}

@media (max-width: 550px) {
  .product-info {
    padding: 1em;
    width: 95%;
  }
}

.product-info .company {
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: 0.6rem;
  font-weight: 700;
  color: #ff7d1a;
}

.product-info .product-title {
  margin-top: 0.5em;
  font-size: 2rem;
  line-height: 1em;
}

@media (max-width: 940px) {
  .product-info .product-title {
    font-size: 1.8rem;
  }
}

.product-info .product-abt {
  margin-top: 2em;
  font-size: 0.8rem;
  color: #68707d;
  line-height: 1.5em;
}

.product-info .product-price {
  margin-top: 1em;
}

@media (max-width: 550px) {
  .product-info .product-price {
    margin-top: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product-info .product-price .discount-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info .product-price .discount-price .price {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
}

.product-info .product-price .discount-price .discount {
  font-weight: 700;
  font-size: 0.65rem;
  background: #ffede0;
  color: #ff7d1a;
  margin: 0.4em 1em;
  padding: 0.3em 0.5em;
  border-radius: 3px;
}

.product-info .product-price .actual-price {
  margin-top: 0.4em;
  font-weight: 700;
  font-size: 0.7rem;
  color: #b6bcc8;
  text-decoration: line-through;
}

.product-info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5em;
}

@media (max-width: 550px) {
  .product-info .buttons {
    margin-top: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-info .buttons-counter {
  margin-top: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 550px) {
  .product-info .buttons-counter {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product-info .buttons-counter button, .product-info .buttons-counter .counter-para {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #f7f8fd;
  border: none;
  border-radius: 3px;
}

@media (max-width: 550px) {
  .product-info .buttons-counter button, .product-info .buttons-counter .counter-para {
    width: 33%;
    height: 50px;
  }
  .product-info .buttons-counter button img, .product-info .buttons-counter .counter-para img {
    display: block;
    margin: auto;
  }
}

.product-info .buttons-counter .counter-para {
  cursor: default;
}

.product-info .buttons-counter .item-count {
  text-align: center;
  margin-top: .4em;
  font-weight: 700;
}

@media (max-width: 550px) {
  .product-info .buttons-counter .item-count {
    margin-top: .85em;
  }
}

.product-info .buttons .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
  padding: 1em;
  cursor: pointer;
  width: 60%;
  border-radius: 10px;
  border: none;
  background: #ff7d1a;
  color: white;
  -webkit-box-shadow: 0 5px 10px #b6bcc8;
          box-shadow: 0 5px 10px #b6bcc8;
}

.product-info .buttons .add svg {
  margin-right: .5em;
}

.product-info .buttons .add svg path {
  fill: white;
}

.product-info .buttons .add:hover {
  opacity: 0.7;
}

@media (max-width: 550px) {
  .product-info .buttons .add {
    margin: 1.5em 0 0 0;
    width: 100%;
    padding: 1em;
  }
}

.active {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
  cursor: default !important;
  border: 2px solid #ff7d1a;
}
/*# sourceMappingURL=style.css.map */